@model WebAppFirstSem.Web.Infrastructures.Domain.Models.Employee
@{
    Layout = "~/areas/manage/views/shared/_managelayout.cshtml";
}

<h1>Details</h1>


<div>
    <h4>Employee: @Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            FirstName
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            LastName
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>

        <dt class="col-sm-2">
            PhoneNumber
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            EmailAddress
        </dt>
        <dd class="col-sm-10">
            @Model.EmailAddress
        </dd>

        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10">
            @Model.Password
        </dd>

        <dt class="col-sm-2">
            EmailAddress
        </dt>
        <dd class="col-sm-10">
            @Model.EmailAddress
        </dd>
        <dt class="col-sm-2">
            Student-Status
        </dt>
        <dd class="col-sm-10">
            @Model.EmployeeStatus
        </dd>

    </dl>
</div>
<div>
    <a href="~/manage/employees/edit/@Model.Id" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
    <a href="~/manage/employees/index" class="btn btn-danger">Back to List</a>
</div>